.footer {
  background-color: #2C2C2C;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 위쪽으로 정렬 */
  padding: 1.04vw 7vw;
  min-height: 8.3vw;
}

.footerLeft, .footerRight {
  width: 30.5vw;
}

.footerLeft {
  text-align: left;
}

.footerRight {
  text-align: right;
}

.footerRight a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer p, .footer a {
  margin-top: 0.42vw;
  margin-bottom: 0.42vw;
}

@media (max-width: 1536px) {
  .footer {
    min-width: 1170px;
    width: 1170px;
  }
  .footerLeft, .footerRight {
    width: 585px;
  }
}
